@import "../../variable.module.scss";

.headerContainer {
  background-color: $headerColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  .pageLinks {
    width: 75%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    .link {
      color: $pageLinkColor;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: $activePage;
      }
    }
    .activePage {
      color: $activePage;
    }
  }
}
.iconMarginLeft {
  margin-left: 8px;
}
.withIcon {
  display: flex;
}

.moreIcon {
  margin-left: 16px;
}
.DrawerOpen {
  width: 360px;
  border-radius: 8px;
  background-color: $headerColor;
  position: absolute;
  margin-top: 4%;
  z-index: 99;
  .subLinks {
    color: $pageLinkColor;
    text-align: center;
    margin: 8px;
    &:hover {
      color: $activePage;
    }
  }
}
