@import "../../variable.module.scss";

.headerContainer {
  background-color: $headerColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  .pageLinks {
    width: 75%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    .link {
      color: $pageLinkColor;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: $activePage;
      }
    }
    .activePage {
      color: $activePage;
    }
  }
}
