@import "../../variable.module.scss";

.whatWeDoContainer {
  .twoColumnContainer {
    margin: 32px 88px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 960px;
    .containerOne {
      width: 55%;
      .containerOneCard {
        .cardHeading {
          box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
          height: 360px;
          width: 460px;
          padding-left: 15%;
          color: $blackColor;
          font-size: 90px;
          font-weight: 700;
          line-height: 120%; /* 108px */
          margin-bottom: 80px;
        }
        .containerOneImg {
          width: 100%;
          height: 509px;
        }
      }
    }
    .containerTwo {
      width: 42%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .containerTwoimg {
        width: 100%;
        height: 544px;
      }
      .verticalDevider {
        width: 1px;
        height: 226px;
        background-color: $borderColor;
        margin: 88px 0 64px 0;
      }
    }
  }
  .greyContainer {
    background-color: $greyContainerColor;
    padding: 64px 0;
    .imageTextContainer {
      display: flex;
      flex-direction: column;
      margin: 0 144px;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
      .containerHeading {
        position: relative;
        color: $whiteColor;
        font-size: 96px;
        line-height: 120%;
        top: 130px;
        left: 440px;
        width: 1034px;
        z-index: 99;
      }
      .imgContainer {
        display: flex;
        justify-content: space-between;

        .alignContainer {
          display: flex;
          align-items: end;
          margin-bottom: 64px;
          justify-content: center;
          .subTextContainer {
          }
          .firstTextContainer {
            margin-left: 144px;
          }
        }
      }
    }
    .imageTextContainerTwo {
      margin-right: 140px;
      margin-left: 196px;
      display: flex;
      .firstColumnContainer {
        width: 50%;
        .topMarginTextContainer {
          margin-top: 40%;
          width: 447px;
        }

        .headingImgContainer {
          display: flex;
          align-items: center;
          flex-direction: column;
          .verticalLine {
            width: 6px;
            height: 340px;
            background: $borderColor2;
          }
          .containerHeadingTwo {
            color: $whiteColor;
            font-size: 92px;
            line-height: 120%;
            width: 1043px;
            position: absolute;
            z-index: 99;
            margin-top: 22%;
            margin-left: 24%;
          }
        }
      }
      .secondColumnContainer {
        // width: 50%;
        .imgMarginTop {
          margin-top: 12%;
        }
      }
    }
    .imageTextContainerThree {
      margin-right: 190px;
      margin-left: 140px;
      display: flex;
      .firstColumnContainer {
        .imgMarginTop {
          margin-top: 12%;
        }
      }
      .secondColumnContainer {
        .headingImgContainer {
          display: flex;
          align-items: center;
          flex-direction: column;
          .verticalLine {
            width: 6px;
            height: 340px;
            background: $borderColor2;
          }
          .containerHeadingThree {
            color: $whiteColor;
            font-size: 92px;
            line-height: 120%;
            width: 788px;
            position: absolute;
            z-index: 99;
            margin-top: 22%;
            margin-left: -9%;
          }
        }
        .thirdTextContainer {
        }
        .topMarginTextContainer {
          margin-top: 40%;
          margin-left: 20%;
          width: 447px;
        }
      }
    }
    .imageTextContainerFour {
      margin-left: 210px;
      margin-right: 140px;
    }
  }
}
.containerHeadingFour {
  color: $whiteColor;
  font-size: 92px;
  line-height: 120%;
  width: 1330px;
  position: absolute;
  z-index: 99;
  margin-top: 22%;
  margin-left: 42%;
}

.contatinerTextOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subTextContainer {
  .imgTextChild {
    color: $whiteColor;
    font-family: Lato;
    font-size: 20px;
    line-height: 120%; /* 31.092px */
    margin-bottom: 24px;
    .highlightText {
      font-size: 20px;
      font-style: italic;
      margin-right: 8px;
      font-weight: 700;
    }
  }
}

.imgShadeContainer {
  width: 746px;
  height: 744px;
  .greyImage {
    width: 746px;
    height: 744px;
  }
  .shade {
    width: 746px;
    height: 748px;
    position: relative;
    top: -101%;
    background: rgba(0, 0, 0, 0.3);
  }
}
